<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <title>Template</title>
</head>
<body>
  
  <div class="wrapper">
    <div class="header">This is header</div>
    <div class="sidebar">This is sidebar:
      <ul class="sidebar_list">
        <li><a href="#">Lorem ipsum.</a></li>
        <li><a href="#">Assumenda, itaque?</a></li>
        <li><a href="#">Voluptate, officiis!</a></li>
        <li><a href="#">Reiciendis, ipsum!</a></li>
        <li><a href="#">Tempore, cumque.</a></li>
      </ul>
    </div>
    <div class="content">This is content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rerum itaque, excepturi molestias sed, exercitationem fugit similique dolorum pariatur minima deserunt aliquam sit quo commodi odit optio in id? Nemo magni pariatur eius molestiae rerum sed dolore ad error deleniti dolorum dolores, quas, soluta repellat. Modi nesciunt enim sapiente, aspernatur a neque. Necessitatibus, nulla! Ut, odit, ea. Expedita sunt eos ex provident saepe quis, aperiam ratione explicabo accusantium recusandae, quas totam nam perspiciatis dicta facilis quae autem, a qui adipisci voluptas repellat molestias aspernatur omnis? Est accusamus ad, nulla, iure rerum harum numquam veritatis iusto enim distinctio magnam cumque asperiores!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rerum itaque, excepturi molestias sed, exercitationem fugit similique dolorum pariatur minima deserunt aliquam sit quo commodi odit optio in id? Nemo magni pariatur eius molestiae rerum sed dolore ad error deleniti dolorum dolores, quas, soluta repellat. Modi nesciunt enim sapiente, aspernatur a neque. Necessitatibus, nulla! Ut, odit, ea. Expedita sunt eos ex provident saepe quis, aperiam ratione explicabo accusantium recusandae, quas totam nam perspiciatis dicta facilis quae autem, a qui adipisci voluptas repellat molestias aspernatur omnis? Est accusamus ad, nulla, iure rerum harum numquam veritatis iusto enim distinctio magnam cumque asperiores!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rerum itaque, excepturi molestias sed, exercitationem fugit similique dolorum pariatur minima deserunt aliquam sit quo commodi odit optio in id? Nemo magni pariatur eius molestiae rerum sed dolore ad error deleniti dolorum dolores, quas, soluta repellat. Modi nesciunt enim sapiente, aspernatur a neque. Necessitatibus, nulla! Ut, odit, ea. Expedita sunt eos ex provident saepe quis, aperiam ratione explicabo accusantium recusandae, quas totam nam perspiciatis dicta facilis quae autem, a qui adipisci voluptas repellat molestias aspernatur omnis? Est accusamus ad, nulla, iure rerum harum numquam veritatis iusto enim distinctio magnam cumque asperiores!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rerum itaque, excepturi molestias sed, exercitationem fugit similique dolorum pariatur minima deserunt aliquam sit quo commodi odit optio in id? Nemo magni pariatur eius molestiae rerum sed dolore ad error deleniti dolorum dolores, quas, soluta repellat. Modi nesciunt enim sapiente, aspernatur a neque. Necessitatibus, nulla! Ut, odit, ea. Expedita sunt eos ex provident saepe quis, aperiam ratione explicabo accusantium recusandae, quas totam nam perspiciatis dicta facilis quae autem, a qui adipisci voluptas repellat molestias aspernatur omnis? Est accusamus ad, nulla, iure rerum harum numquam veritatis iusto enim distinctio magnam cumque asperiores!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rerum itaque, excepturi molestias sed, exercitationem fugit similique dolorum pariatur minima deserunt aliquam sit quo commodi odit optio in id? Nemo magni pariatur eius molestiae rerum sed dolore ad error deleniti dolorum dolores, quas, soluta repellat. Modi nesciunt enim sapiente, aspernatur a neque. Necessitatibus, nulla! Ut, odit, ea. Expedita sunt eos ex provident saepe quis, aperiam ratione explicabo accusantium recusandae, quas totam nam perspiciatis dicta facilis quae autem, a qui adipisci voluptas repellat molestias aspernatur omnis? Est accusamus ad, nulla, iure rerum harum numquam veritatis iusto enim distinctio magnam cumque asperiores!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rerum itaque, excepturi molestias sed, exercitationem fugit similique dolorum pariatur minima deserunt aliquam sit quo commodi odit optio in id? Nemo magni pariatur eius molestiae rerum sed dolore ad error deleniti dolorum dolores, quas, soluta repellat. Modi nesciunt enim sapiente, aspernatur a neque. Necessitatibus, nulla! Ut, odit, ea. Expedita sunt eos ex provident saepe quis, aperiam ratione explicabo accusantium recusandae, quas totam nam perspiciatis dicta facilis quae autem, a qui adipisci voluptas repellat molestias aspernatur omnis? Est accusamus ad, nulla, iure rerum harum numquam veritatis iusto enim distinctio magnam cumque asperiores!
    </div>
  </div>
  <div class="footer">This is footer</div>

</body>
</html>